.filter {

  &__title {
    padding-bottom: 15px;
  }

  .horizontal {
    height: 2px;
    background-color: #6a048a;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-tags {
      button {
        background-color: var(--violet);

        clr-icon {
          &:hover {
            fill: var(--light);
          }
        }
      }
    }

    .search {
      input {
        border-radius: 5px;
        padding-left: 7px;
        outline-color: var(--violet);
      }
    }
  }

}
