<div class="filter">
  <p class="filter__title">Backlog in the selected region: 2345</p>
  <div class="horizontal"></div>

  <div class="filter__content">
    <div class="filter__content-tags">
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="home"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="warning-standard"></clr-icon>
      </button>
      <button type="button" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="car"></clr-icon>
      </button>
    </div>

    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
  </div>


</div>
