<div class="filter">
  <p class="filter__title">Задачи в выбранном регионе: {{ countTasks }}</p>
  <div class="horizontal"></div>

  <div class="filter__content">
    <div class="filter__content-tags">
      <button (click)="sortBy('star')" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="star"></clr-icon>
      </button>
      <button (click)="sortBy('heart')" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="heart"></clr-icon>
      </button>
      <button (click)="sortBy('envelope')" class="btn btn-icon btn-primary" aria-label="settings">
        <clr-icon shape="envelope"></clr-icon>
      </button>
    </div>

    <form [formGroup]="searchForm" class="search">
      <label for="search_input">
        <input formControlName="search" id="search_input" type="text" placeholder="Поиск по ключевым словам...">
      </label>
    </form>
  </div>


</div>
