<div class="clr-row">
  <div class="clr-col-3 Violet">
    <app-filter></app-filter>
    <app-card
    (showDetailsEmitter)="openModal($event)"
    ></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Yellow">
    <app-title
      content="Needs Review">
    </app-title>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Blue">
    <app-title
      content="In Progress"></app-title>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Dark-Blue">
    <app-title
      content="Finished"></app-title>
    <app-card></app-card>
  </div>
</div>
<jw-modal id="custom-modal">
  <h1>A Custom Modal!</h1>
  <p>Home page text: <input type="text" /></p>
  <button (click)="closeModal('custom-modal');">Close</button>
</jw-modal>
<!--<app-details-->
<!--  [isShowDetails]="isShowDetails"-->
<!--  (closeDetailsEmitter)="isShowDetails = $event"-->
<!--&gt;</app-details>-->
