<div class="clr-row">
  <div class="clr-col-3 Violet">
    <app-filter></app-filter>
    <app-card
    (showDetailsEmitter)="showDetails($event)"
    ></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Yellow">
    <app-title
      content="Needs Review">
    </app-title>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Blue">
    <app-title
      content="In Progress"></app-title>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3 Dark-Blue">
    <app-title
      content="Finished"></app-title>
    <app-card></app-card>
  </div>
</div>
<app-details
  [isShowDetails]="isShowDetails"
  (closeDetailsEmitter)="isShowDetails = $event"
></app-details>
