<div class="clr-row">
  <div class="clr-col-3">
    <app-filter></app-filter>
    <app-card
    (showDetailsEmitter)="showDetails($event)"
    ></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3">
    <app-filter></app-filter>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3">
    <app-filter></app-filter>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="clr-col-3">
    <app-filter></app-filter>
    <app-card></app-card>
  </div>
</div>
<app-details
  [isShowDetails]="isShowDetails"
  (closeDetailsEmitter)="isShowDetails = $event"
></app-details>
