.title {
  position: absolute;
  top: -20px;
  width: 51%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: var(--light);
}
