<ng-container *ngIf="isShowDetails">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-body">
          <p>But not much to say...</p>
        </div>
        <div class="modal-footer">
          <button (click)="close()" class="btn btn-outline" type="button">Cancel</button>
          <button (click)="save()" class="btn btn-primary" type="button">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</ng-container>

