.card {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    &-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;

      clr-icon {
        margin-bottom: 15px;
      }
    }
  }

}
