.card {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0;

    &-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;

      &-wrap {
        width: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        div {
          margin-right: 5px;
        }
      }
    }
  }

  &-header {
    border-bottom: none;
    padding: 0;
  }
  &-block {
    padding: 0;
  }

}
