.card {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0;

    &-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;

      clr-icon {
        margin-bottom: 15px;
      }
    }
  }

  &-header {
    border-bottom: none;
    padding: 0;
  }
  &-block {
    padding: 0;
  }

}
