<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
    <div class="card">
      <div class="card__wrapper">
        <div class="card__wrapper-data">
          <div class="card-header">
            {{ info?.title }}
          </div>
          <div class="card-block">
<!--            <div class="card-title">-->
<!--              {{ info?.descriptions }}-->
<!--            </div>-->
            <div class="card-text">
              {{ info?.shortDescription }}
            </div>
          </div>
        </div>
        <div class="card__wrapper-action">
          <div class="card__wrapper-action-wrap">
            <div>{{ info?.voicesCount }}</div>
            <clr-icon shape="star"></clr-icon>
          </div>
          <div class="card__wrapper-action-wrap">
            <div>{{ info?.likesCount }}</div>
            <clr-icon shape="heart"></clr-icon>
          </div>
          <div class="card__wrapper-action-wrap">
            <div>{{ info?.sharesCount }}</div>
            <clr-icon shape="envelope"></clr-icon>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="showDetails()" class="btn btn-sm btn-link">Посмотреть детали</button>
      </div>
    </div>
  </div>
</div>


